<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
xlmns="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: menu-head"></head>

<body>
    <nav th:replace="layout/plantilla :: menu" class="sidebar close"></nav>

    <section class="home">
        <div class="text">&nbsp&nbspBuscar Categorías</div>

        <section Class=principal>

            <div class="formulario">
                <div>              
                    <a th:href="@{/nueva-categoria}" id="a"><button class="boton tres"><span>Crear categoría</span></button></a>
                    <a th:href="@{/listar-categorias}"><button class="boton cuatro"><span>Listar</span></button></a><br><br>
                </div>
    
                <form  action="/buscar-categoria" method="GET">
    
                    <p th:if="${error != null}" th:text=${error} class=error></p>
    
                    <p th:if="${exito != null}" th:text=${exito} class=exito></p>
    
                    <label>Nombre:</label><br>
                    <select class="alta" name="nombre">
                        <option th:each="categoria : ${categorias}" th:value="${categoria.nombre}" th:text="${categoria.nombre}"></option>
                    </select><br><br>
    
                    <button type="submit" class="boton tres"><span>Buscar</span></button>
    
                </form>
            </div>
    
            <!--   ************** formulario resultados -->   
    
            <section class="formulario2" action="/buscar-categoria" method="GET">
    
                <table>
                    <label>CATEGORÍAS</label><br><br>
    
                    <p th:if="${error != null}" th:text=${error} class=error></p>
                    <p th:if="${exito != null}" th:text=${exito} class=exito></p>
    
                    <thead>
                        <tr>
                            <th>
                                <p>Nombre</p>
                            </th>
                            <th>
                                <p>Acciones</p>
                            </th>
                        </tr>
                    </thead>
    
                    <tr th:each=" categorias : ${listaCategorias}">
                        <td th:text="${categorias.nombre}"></td>
                        <td>
                            <a th:href="@{/modificar-categoria}+'?id='+${categorias.id}"><button class="boton2 uno"><span>Editar</span></button></a>  
                            <a th:href="@{/eliminar-categoria}+'?id='+${categorias.id}"><button class="boton2 uno"><span>Eliminar</span></button></a>   
                        </td>
                    </tr>
                </table>
            </section>
        </section>
    </section>
    
    <script src="js/script.js"></script>

</body>

</html>