<!DOCTYPE html>
<html>

<head th:replace="layout/plantilla :: menu-head"></head>

<body>
    <nav class="sidebar close" th:replace="layout/plantilla :: menu"></nav>

    <section class="home">
        <div class="text">Cargar Categorías</div>

        <section Class=principal>

            <form class="formulario" action="/cargar-categoria" method="POST">
    
                <p th:if="${error != null}" th:text=${error} class=error></p>
    
                <p th:if="${exito != null}" th:text=${exito} class=exito></p>
    
                <label >Nombre:</label><br>
                <input type="text" name="nombre" th:value="${nombre}"><br><br>
    
                <button type="submit" class="boton tres"><span>Guardar</span></button>
    
                <button type="reset" class="boton cuatro"><span>Limpiar</span></button>
    
            </form>
        </section>
    </section>

    <script src="js/script.js"></script>
</body>

</html>