<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Amrap</title>
    <link rel="stylesheet" href="CSS/Style_ejercicios.css">
    <link rel="stylesheet" href="CSS/fonts.css">
</head>

<body>
    
    <h1 class="titulo">Rutinas</h1>


    <!-- menu desplegable comienzo  -->
    <header>
        <nav>
            <ul>
                <li> <a href="inicio"><span class="primero"><i class="icon icon-home "></i></span> Inicio</a> </li>
                <li> <a href="rutinas"><span class="cuarto"><i class="icon icon-books"></i></span>Rutinas</a></li>
                <li> <a href="buscar-ejercicio"><span class="segundo"><i class="icon icon-book"></i></span> Ejercicios</a></li>
                <li> <a href="buscar-ejercicioNombre"><span class="quinto"><i class="icon icon-books"></i></span>Nombres de ejercicios</a></li>
                <li> <a href="buscar-categoria"><span class="tercero"><i class="icon icon-books"></i></span>Categorias</a></li>
            </ul>
        </nav>
    </header>
    <!-- menu desplegable fin  -->

    <!--  botones inicio -->
    ><div class="contenedor">
        <div class="contenedor-botones">

            <a id="a" href="rutinas_cargar"><button class="boton tres"><span>Crear rutina</span> </button></a>
            <a  href="ejercicios_busqueda"><button class="boton cuatro"><span>Buscar rutina </span></button></a>
            <!--<a  href="autor_modificar"><button class="boton cuatro"><span>Modificar Autor </span></button></a>-->
      
        </div>
    </div>
    <!--  botones fin -->

</body>

</html>

