<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xlmns="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <title>Amrap</title>
    <link rel="stylesheet" href="css/Style_ejercicios.css">
    <link rel="stylesheet" href="css/fonts.css">

</head>

<body>
    <h1 class="titulo">Buscar Rutinas</h1>


    <!-- menu desplegable comienzo  -->
    <header th:replace="/inicio.html::header"></header>
    <!-- menu desplegable fin  -->


    <section Class=principal>

        <div class="formulario">
            <div>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/nueva-rutina}"><button
                        class="boton tres"><span>Crear Rutina</span></button></a>
                <a th:href="@{/listar-rutinas}"><button class="boton tres"><span>Listar Rutinas</span></button></a>
            </div>

            <form action="/buscar-rutina" method="GET">

                <p th:if="${error != null}" th:text=${error} class=error></p>
                <p th:if="${exito != null}" th:text=${exito} class=exito></p>

                <!-- <label>Id Usuario:</label><br>
                <input type="text" name="idUsuario" th:value="${session.usuariosession.id}"><br><br> -->

                <!-- <button type="submit" class="boton tres"><span>Buscar</span></button> -->

            </form>

        </div>


        <!--   ************** formulario resultados -->

        <div class="container2" th:each="rutinas : ${rutinas}">

            <div class="card2" th:if="${rutinas.completado != true}">

                <img src="img/img5.jpg">
                <h4 th:text="${rutinas.nombre}"></h4>
                <p th:text="${'Objetivo: ' + rutinas.objetivo}"></p>
                <p th:text="${rutinas.completado == true} ? 'Completada: si' : 'Completada: No'"> </p><br>
                

                <a th:href="@{/listar-ejercicios (idRutina=${rutinas.id})}"><button
                    class="boton2 uno"><span>Ejercicios</span></button></a><br><br>

                <a sec:authorize="hasRole('ROLE_ADMIN')"
                    th:href="@{/modificar-rutina (idUsuario=${rutinas.usuario.id},idRutina=${rutinas.id})}"><button
                        class="boton2 uno"><span>Editar</span></button></a>
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                    th:href="@{/eliminar-rutina (idUsuario=${rutinas.usuario.id},idRutina=${rutinas.id})}"><button
                        class="boton2 uno"><span>Eliminar</span></button></a>
                <!--  de esta manera se envia una hiperlink con dos o mas parametros para recibirlos en el controlador. -->
                
            </div>

            <div class="card3" th:if="${rutinas.completado == true}">

                <img src="img/img5.jpg">
                <h4 th:text="${rutinas.nombre}"></h4>
                <p th:text="${'Objetivo: ' + rutinas.objetivo}"></p>
                <p th:text="${rutinas.completado == true} ? 'Completada: si' : 'Completada: No'"> </p><br>
                

                <a th:href="@{/listar-ejercicios (idRutina=${rutinas.id})}"><button
                    class="boton2 uno"><span>Ejercicios</span></button></a><br><br>

                <a sec:authorize="hasRole('ROLE_ADMIN')"
                    th:href="@{/modificar-rutina (idUsuario=${rutinas.usuario.id},idRutina=${rutinas.id})}"><button
                        class="boton2 uno"><span>Editar</span></button></a>
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                    th:href="@{/eliminar-rutina (idUsuario=${rutinas.usuario.id},idRutina=${rutinas.id})}"><button
                        class="boton2 uno"><span>Eliminar</span></button></a>
               
                
            </div>
        </div>

    </section>
</body>

</html>