<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Amrap</title>
    <link rel="stylesheet" href="CSS/Style_ejercicios.css">
    <link rel="stylesheet" href="CSS/fonts.css">

</head>

<body>
    <h1 class="titulo">Buscar Rutinas</h1>


    <!-- menu desplegable comienzo  -->
    <header th:replace="/inicio.html::header"></header>
    <!-- menu desplegable fin  -->


    <section Class=principal>

        <div class="formulario">
            <div>
                <a th:href="@{/nueva-rutina}"><button class="boton tres"><span>Crear Rutina</span></button></a>      
                <a th:href="@{/listar-rutinas}"><button class="boton tres"><span>Listar Rutina</span></button></a>       
            </div>

            <form action="/buscar-rutina" method="GET">

                <p th:if="${error != null}" th:text=${error} class=error></p>
                <p th:if="${exito != null}" th:text=${exito} class=exito></p>

                <!-- <label>Id Usuario:</label><br>
                <input type="text" name="idUsuario" th:value="${session.usuariosession.id}"><br><br> -->

                <!-- <button type="submit" class="boton tres"><span>Buscar</span></button> -->

            </form>

        </div>


        <!--   ************** formulario resultados -->

        <section class="formulario2" action="/buscar-rutina" method="GET">

            <label>Rutinas</label><br><br>

            <p th:if="${error != null}" th:text=${error} class=error></p>
            <p th:if="${exito != null}" th:text=${exito} class=exito></p>

            <table>

                <thead>
                    <tr>
                        <th>
                            <p>Nombre</p>
                        </th>

                        <th>
                            <p>objetivo</p>
                        </th>

                        <th>
                            <p>Acciones</p>
                        </th>

                    </tr>
                </thead>

                <tr th:each=" rutinas : ${rutinas}">
                    <td th:text="${rutinas.nombre}"></td>
                    <td th:text="${rutinas.objetivo}"></td>

                    <td>
                        <a th:href="@{/modificar-rutina (idUsuario=${rutinas.usuario.id},idRutina=${rutinas.id})}"><button class="boton2 uno"><span>Editar</span></button></a>  
                        <a th:href="@{/eliminar-rutina (idUsuario=${rutinas.usuario.id},idRutina=${rutinas.id})}"><button class="boton2 uno"><span>Eliminar</span></button></a>  
                        <!--  de esta manera se envia una hiperlink con dos o mas parametros para recibirlos en el controlador. -->
                        <a th:href="@{/listar-ejercicios (idRutina=${rutinas.id})}"><button class="boton2 uno"><span>Ejercicios</span></button></a>
                    </td>


                </tr>

            </table>

        </section>

    </section>
</body>

</html>