<!DOCTYPE html>
<html><html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
xlmns="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: menu-head"></head>

<body>

    <h1 class="titulo">Cargar rutinas</h1>

    <nav class="sidebar close" th:replace="layout/plantilla :: menu"></nav>

    <section class="home">
        <div class="text">Configuración</div>

        <section Class=principal>        
            <form class="formulario" action="/crear-rutina" method="POST">
    
                <h1 >Crear Rutina</h1><br>
    
                <p th:if="${error != null}" th:text=${error} class=error></p>
    
                <p th:if="${exito != null}" th:text=${exito} class=exito></p>
    
                <input type="hidden" name="idUsuario" th:value="${usuarioLogueado.id}">
    
                <label>Nombre:</label><br>
                <input type="text" name="nombre" th:value="${nombre}"><br><br>
    
                <label>Objetivo:</label><br>
                <input type="text" name="objetivo" th:value="${objetivo}"><br><br>
    
                <button type="submit" class="boton tres"><span>Guardar</span></button>
    
                <button type="reset" class="boton cuatro"><span>Limpiar</span></button>
    
            </form>
        </section>
    </section>

<script src="js/script.js"></script>
</body>

</html>