/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    /* --body-color: #E4E9F7; */
    --body-color: #f7ebe0;
    /* --sidebar-color: #FFF; */
    --sidebar-color: rgb(217, 220, 223);
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    /* --text-color: #707070; */
    --text-color: #0a0707;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar .foto_perfil{
    border-radius:50px;
    max-width: 60px;
    max-height: 60px;
    margin-right: 10px;
    margin-left: 5px;
    height: 100%;
}


.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar .header{
    position: relative;
}

.sidebar .header .image-text{
    display: flex;
    align-items: center;
}
.sidebar .header .logo-text{
    display: flex;
    flex-direction: column;
}
.header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar .header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar .header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar .header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    /* background-color: var(--body-color); */
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--sidebar-color);
    padding: 12px 60px;
    background-color: var(--text-color);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}


/*  clases agregadas por manuel */


 .principal{
    /* background-color: brown; */
    position: absolute;
    top: 0;
    top: 0;
    left: 20px;
    margin-top: 80px;
    max-height: 100%;
    height: auto;
  

 }
 

/************************formulario*********************/
.principal .formulario{
    float: left;
    margin-right: 20px;
    margin-top: 20px;

/**/

    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    list-style-type: none;
    text-decoration: none;         
    background-color: var(--sidebar-color);
    border-radius: 10px;
    max-width: 250px;
    width: 100% ;
    padding: 30px;
    display: inline-table;

   
}

/* **************** diseño de la tabla, comienzo ************************* */
.principal .formulario2{
    float: left;

    /* color: var(--primary-color-light); */
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
	margin: auto;
    background-color: rgb(76, 76, 78);
    border-radius: 10px;
    /* max-width: auto; */
	width: auto;
    height: 100%;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
   }

   .principal .formulario2 label{
    color: rgb(241, 247, 247);
    font-size: 20px;
   }

table{
	color: rgb(85, 74, 74);
	background-color: rgb(220, 224, 224);/* color de filas */

	margin: auto;
	max-width: auto;
	width: 95%;
	border-radius: 5px;
}


thead{
    color: #ccc;
    /* background-color: var(--text-color); */
    background-color:var(--text-color);
    
	height: 35px;	
}

th td{
	padding: 5px;
}

tr:nth-child(even){
	/* background-color: rgb(224, 201, 201); */
    background-color: rgb(226, 217, 217);
}


.alta{
	background-color: whitesmoke;
	color: black;
    text-align: center;
    text-decoration: none;
	width: 70%;
	margin: auto;
}

/*   error inicio   */

.error{
	font-size: 11px;
	color: rgb(231, 20, 20);
	padding-bottom: 10px;
}

.exito{
	font-size: 11px;
	color: rgb(9, 133, 19);
	padding-bottom: 10px;
}

/*   error fin   */


/* **************************** estilo de botones inicio ***************  */
.contenedor {
    /* background-color: darkorchid; */
    max-width: 1200px;
	width: 50%;
	margin: auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contenedor-botones{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 40px;
	background: rgb(37, 5, 28);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	border-style: double;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
    margin: 10px;
    
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

 a{
    text-decoration: none;
    color: white;
}

.boton.uno{
    background-color: rgb(238, 34, 187);
}

.boton.uno::after {
	content: "";
	width: 100%;
	height: 100%;
	background: #c4b107;
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	transition: .3s ease-in-out all;
}

.boton.uno:hover::after {
	top: 0;
}


.boton.dos::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 80px);
	border-bottom: 80px solid #22e611;
	border-right: 80px solid transparent;
	transition: .4s ease-in-out all;
}

.boton.dos:hover::after {
	left: 0;
}


.boton.tres::after {
	content: "";
	width: 100%;
	height: 300px;
	background: #18a362;
	position: absolute;
	z-index: 1;
	top: -300px;
	left: 0;
	transition: .4s ease-in-out all;
	border-radius: 0px 0px 300px 300px;
}

.boton.tres:hover::after {
	top: 0;
}

.boton.cuatro::after {
	content: "";
	width: 1px;
	height: 1px;
	background: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transition: .3s ease-in-out all;
	border-radius: 100px;
	transform-origin: center;
}

.boton.cuatro:hover::after {
	transform: scale(400);
	background: #cc1010;
}

.boton.cuatro:hover {
	 background: #960909; 
}


.boton.cinco span {
	transition: .4s ease-in-out all;
	position: absolute;
	left: 40%;
}

.boton.cinco .icono {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: -40px;
	transition: .3s ease-in-out all;
	opacity: 0;
}

.boton.cinco svg {
	color: #fff;
	width: 35px;
	height: 35px;
}

.boton.cinco:hover {
	background: #2f9b05;
}

.boton.cinco:hover .icono {
	left: calc(100% - 50px);
	opacity: 1;
}

.boton.cinco:hover span {
	left: 20px;
}

.boton.seis {
	background: none;
	color: #000;
}

.boton.seis svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}


.boton.seis {
	background: none;
	color: #000;
}

.boton.seis svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.boton.seis rect {
	width: 100%;
	height: 100%;
	stroke: #000;
	stroke-width: 10px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .6s ease all;
}

.boton.seis:hover rect {
	stroke-dashoffset: 0;
}

/* **************************** estilo de botones fin ***************  */











/*  boton de selecionar lista*/
.boton2 {
	width: 100%;
    max-width: 100px;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 25px;
	background: rgb(230, 226, 5);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 200;
	border-style: double;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
    margin: 0px;   
}

.boton2 span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

 a{
    text-decoration: none;
    color: white;
}

.boton2.uno{
    background-color: rgb(128, 120, 126);
}

.boton2.uno::after {
	content: "";
	width: 100%;
	height: 100%;
	background: #f80707;
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	transition: .0s ease-in-out all;
}

.boton2.uno:hover::after {
	top: 0;
}

/*  boton de selecionar lista fin*/
.foto{

	/* float: right; */
    color:khaki;
   
    align-content: center;
    list-style-type: none;
    text-decoration: none;
	margin: auto;
    background-color: rgb(90, 81, 89);
    border-radius: 50px;
    max-width:200px;
	width: 100%;
    height: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 

}

.foto1{

	float:right;
    /* border-radius:50px; */
    max-width: 60px;
	width: 100%;
    height: 100%;
    max-height: 60px;
	margin: auto;
}

.foto2{
    background-color: #960909;
    height: 30px;
}

/* aca esta el estilo de las tarjetas*/


.container{
	/* background-color: #960909; */
    width: 100%;
    max-width: 330px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: auto;
	display:inline-block
}

.container .card{
	background-color:#e5ece1;
    width: 330px;
    height: auto;      
    padding-bottom: 30px;
    border-radius: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
	
}


.container .card:hover{
	background-color: #e0b7b7;
    transform: translateY(-30px);
    box-shadow: 15px 15px 16px rgba(187, 33, 6, 0.8);
	
	
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 800;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}


.container .card p:hover{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 600;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #344ddb;
}

/*  diseño de la card1 */

.container .card1{
	background-color: #c1dbb1;
    width: 330px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;	
}

.container .card1:hover{
	background-color: #c1dbb1;
    transform: translateY(-30px);
    box-shadow: 15px 15px 16px rgba(31, 5, 94, 0.8);
}	


.container .card1 img{
    width: 330px;
    height: 220px;
}


.container .card1 h4{
    font-weight: 800;
}

.container .card1 p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}


.container .card1 p:hover{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 600;
}

.container .card1 a {
    font-weight: 500;
    text-decoration: none;
    color: #344ddb;
}

/* fin de diseño de card1 */



.container2{
    float: left;
	/* background-color: darkorange; */
    width: 100%;
    max-width: 260px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
	display:inline-block
}

.container2 .card2{
	background-color:#e5ece1;    
    width: 260px;
    height: auto;
    padding-bottom: 10px;
    border-radius: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* margin: 30px; */
    text-align: center;
    transition: all 0.25s;
	
}


.container2 .card2:hover{
	background-color: #e0b7b7;
    transform: translateY(-30px);
    box-shadow: 15px 15px 16px rgba(71, 26, 8, 0.8);
	
	
}

.container2 .card2 img{
    width: 260px;
    height: 160px;
}


.container2 .card2 h4{
    font-weight: 800;
}

.container2 .card2 p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 600;
	color: rgb(29, 4, 88);
}


.container2 .card2 p:hover{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 600;
}



.container2 .card3{

    background-color:#8ce658;
    width: 260px;
    height: auto;
    padding-bottom: 10px;
    border-radius: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* margin: 30px; */
    text-align: center;
    transition: all 0.25s;
	
}


.container2 .card3:hover{
	/* background-color: #e0b7b7; */
    background-color:#8ce658;
    transform: translateY(-30px);
    box-shadow: 15px 15px 16px rgba(71, 26, 8, 0.8);
	
	
}

.container2 .card3 img{
    width: 260px;
    height: 160px;
}


.container2 .card3 h4{
    font-weight: 800;
}

.container2 .card3 p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 600;
	color: rgb(29, 4, 88);
}


.container2 .card3 p:hover{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 600;
}

.borde{
    /* border-style: var(--text-color); */
    /* background-color: rgb(217, 220, 223); */
    background-color: rgb(195, 200, 204);
    padding-top: 5px;
    border-radius:10px ;   
}