<!DOCTYPE html>
<<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xlmns="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <title>Amrap</title>
    <link rel="stylesheet" href="CSS/Style_ejercicios.css">
    <link rel="stylesheet" href="CSS/fonts.css">

</head>

<body>
    <h1 class="titulo">Modificar Ejercicios</h1>


    <!-- menu desplegable comienzo  -->
    <header th:replace="/inicio.html::header"></header>
    <!-- menu desplegable fin  -->

    <section Class=principal>

        <section class="formulario">


            <form action="actualizar-ejercicio" method="POST">

                <p th:if="${error != null}" th:text=${error} class=error></p>

                <p th:if="${exito != null}" th:text=${exito} class=exito></p>


                <input type="hidden" name="id" th:value="${ejercicio.id}">

                <input type="hidden" name="idRutina" th:value="${ejercicio.rutina.id}">


                <label>Nombre:</label><br>
                <span th:text="${ejercicio.ejercicioNombre.nombre}" class="exito"></span><br>
                <select class="alta" name="idEjercNom">
                    <option th:each="nombresEjercicios : ${nombresEjercicios}" th:value="${nombresEjercicios.id}"
                        th:text="${nombresEjercicios.nombre}"></option>
                </select><br><br>

                <!-- th:if="${session.usuariosession.rol == rol}" -->
                <!-- sec:authorize="hasRole('ROLE_ADMIN')" -->

                <div >

                    <label>Series:</label><br>
                    <input type="number" name="series" th:value="${ejercicio.series}"><br><br>

                    <label>Repeticiones:</label><br>
                    <input type="number" name="repeticiones" th:value="${ejercicio.repeticiones}"><br><br>

                    <label>Pausa:</label><br>
                    <input type="number" name="pausa" th:value="${ejercicio.pausa}"><br><br>

                </div>

                <label>Dicicultad:</label><br>
                <input type="number" name="dificultad" th:value="${ejercicio.dificultad}"><br><br>

                <label>Kilogramos:</label><br>
                <input type="text" name="kilogramos" th:value="${ejercicio.kilogramos}"><br><br>

                <label>Notas:</label><br>
                <input type="text" name="notas" th:value="${ejercicio.notas}"><br><br>

                <label>Atencion:</label><br>
                <input type="text" name="atencion" th:value="${ejercicio.atencion}"><br><br>

                <input type="hidden" name="completo" th:value="${'completado'}">

                <button type="submit" class="boton tres"><span>Actualizar</span></button>

            </form>

            <div>
                <a th:href="@{/listar-ejercicios (idRutina=${ejercicio.rutina.id})}"><button
                        class="boton tres"><span>Listar ejercicios</span></button></a>

            </div>


        </section>




        <!--   formulario para mostrar el objeto cambiado-->
        <section class="formulario2" action="/modificar_ejercicio" method="GET">

            <label>Ejercicios de <span
                    th:text="${session.usuariosession.nombre}+' '+${session.usuariosession.apellido}"></span></label><br><br>

            <table>

                <thead>
                    <tr>
                        <th>
                            <p>Nombre</p>
                        </th>

                        <th>
                            <p>Categoría</p>
                        </th>
                        <th>
                            <p>Series</p>
                        </th>
                        <th>
                            <p>Repeticiones</p>
                        </th>
                        <th>
                            <p>Pausa</p>
                        </th>
                        <th>
                            <p>Dificultad</p>
                        </th>
                        <th>
                            <p>Kilogramos</p>
                        </th>
                        <th>
                            <p>Notas</p>
                        </th>
                        <th>
                            <p>Atencion</p>
                        </th>
                        <th>
                            <p>Video</p>
                        </th>
                        <th>
                            <p>Acciones</p>
                        </th>

                    </tr>
                </thead>

                <tr th:each=" ejercicio : ${ejercicio}">
                    <td th:text="${ejercicio.ejercicioNombre.nombre}"></td>
                    <td th:text="${ejercicio.ejercicioNombre.categoria.nombre}"></td>
                    <td th:text="${ejercicio.series}"></td>
                    <td th:text="${ejercicio.repeticiones}"></td>
                    <td th:text="${ejercicio.pausa}"></td>
                    <td th:text="${ejercicio.dificultad}"></td>
                    <td th:text="${ejercicio.kilogramos}"></td>
                    <td th:text="${ejercicio.notas}"></td>
                    <td th:text="${ejercicio.atencion}"></td>
                    <td th:text="${ejercicio.ejercicioNombre.video}"></td>
                    <td><button class="boton2 uno"><a th:href="${ejercicio.ejercicioNombre.video}"
                                target="_blank"><span>Video</span></button></a></td>

                </tr>

            </table>

        </section>

    </section>

</body>

</html>