<!DOCTYPE html>
<<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xlmns="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="layout/plantilla :: menu-head"></head>

    <body>

        <nav class="sidebar close" th:replace="layout/plantilla :: menu"></nav>

        <section class="home">
            <div class="text">Modificar Ejercicios</div>

            <section Class=principal>
                <section class="formulario">
                    <form action="actualizar-ejercicio" method="POST">

                        <p th:if="${error != null}" th:text=${error} class=error></p>

                        <p th:if="${exito != null}" th:text=${exito} class=exito></p>

                        <input type="hidden" name="id" th:value="${ejercicio.id}">

                        <input type="hidden" name="idRutina" th:value="${ejercicio.rutina.id}">

                        <input sec:authorize="hasRole('ROLE_USUARIO_REGISTRADO')" type="hidden" name="idEjercNom"
                            th:value="${ejercicio.ejercicioNombre.id}">

                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <label>Nombre:</label><br>
                            <select class="alta" name="idEjercNom">
                                <option th:each="nombresEjercicios : ${nombresEjercicios}"
                                    th:value="${nombresEjercicios.id}" th:text="${nombresEjercicios.nombre}"></option>
                            </select><br><br>
                        </div>

                        <span th:text="${ejercicio.ejercicioNombre.nombre}" class="alta"></span><br><br>

                        <div>
                        <label>Series:</label><br>
                        <input type="number" name="series" th:value="${ejercicio.series}"><br><br>

                        <label>Repeticiones:</label><br>
                        <input type="number" name="repeticiones" th:value="${ejercicio.repeticiones}"><br><br>

                        <label>Pausa:</label><br>
                        <input type="number" name="pausa" th:value="${ejercicio.pausa}"><br><br>

                        </div>
                        <div class="borde">

                            <label>Dificultad:</label><br>
                            <input type="number" name="dificultad" th:value="${ejercicio.dificultad}"><br><br>

                            <label>Kilogramos:</label><br>
                            <input type="text" name="kilogramos" th:value="${ejercicio.kilogramos}"><br><br>

                            <label>Notas:</label><br>
                            <input type="text" name="notas" th:value="${ejercicio.notas}"><br><br>

                            <label>Atencion:</label><br>
                            <input type="text" name="atencion" th:value="${ejercicio.atencion}"><br><br>

                            <input type="hidden" name="completo" th:value="${'completado'}">

                            <button type="submit" class="boton tres"><span>Completar</span></button>

                        </div>
                    </form>

                    <div>
                        <a th:href="@{/listar-ejercicios (idRutina=${ejercicio.rutina.id})}"><button
                                class="boton tres"><span>Listo</span></button></a>

                    </div>
                </section>

                <div class="container" th:each="ejercicio : ${ejercicio}">

                    <div class="card1" th:if="${ejercicio.completado == true}">

                        <img src="/IMG/img4.jpg">
                        <h4 th:text="${ejercicio.ejercicioNombre.nombre}"></h4>
                        <p th:text="${'Categoría: ' + ejercicio.ejercicioNombre.categoria.nombre}"></p>
                        <p th:text="${'Series: ' +ejercicio.series}"></p>
                        <p th:text="${'Repeticiones: ' +ejercicio.repeticiones}"> </p>
                        <p th:text="${'Pausa: ' +ejercicio.pausa}"> </p>
                        <p th:text="${'Dificultad: ' +ejercicio.dificultad}"> </p>
                        <p th:text="${'Kilogramos: ' +ejercicio.kilogramos}"> </p>
                        <p th:text="${'Notas: ' +ejercicio.notas}"> </p>
                        <p th:text="${'Atencion: ' +ejercicio.atencion}"> </p>
                        <p><button class="boton2 uno"><a th:href="${ejercicio.ejercicioNombre.video}"
                                    target="_blank"><span>Video</span></button></a></p>
                    </div>
                </div>
            </section>
        </section>

    <script src="js/script.js"></script>
    </body>
</html>