<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Amrap</title>
    <link rel="stylesheet" href="CSS/Style_ejercicios.css">
    <link rel="stylesheet" href="CSS/fonts.css">

</head>

<body>

    <h1 class="titulo">Cargar Ejercicios</h1>


    <!-- menu desplegable comienzo  -->
    <header th:replace="/inicio.html::header"></header>
    <!-- menu desplegable fin  -->


    <section Class=principal>

        <form class="formulario" action="/cargar-ejercicio" method="POST">

            <p th:if="${error != null}" th:text=${error} class=error></p>

            <p th:if="${exito != null}" th:text=${exito} class=exito></p>


            <input type="hidden" name="idRutina" th:value="${idRutina}"><br>

            <label>Nombre:</label><br>
            <select class="alta" name="idEjercNom" >
                <option th:each="nombre : ${nombres}" th:value="${nombre.id}" th:text="${nombre.nombre}"></option><br>
            </select><br><br>


            <label>Series:</label><br>
            <input type="number" name="series" th:value="${series}"><br><br>

            <label>Repeticiones:</label><br>
            <input type="number" name="repeticiones" th:value="${repeticiones}"><br><br>
            
            <label>Pausa:</label><br>
            <input type="number" name="pausa" th:value="${pausa}"><br><br>

            <label>Dificultad:</label><br>
            <input type="number" name="dificultad" th:value="${dificultad}"><br><br>

            <label>Kilogramos:</label><br>
            <input type="text" name="kilogramos" th:value="${kilogramos}"><br><br>

            <label>Notas:</label><br>
            <input type="text" name="notas" th:value="${notas}"><br><br>

            <label>Atencion:</label><br>
            <input type="text" name="atencion" th:value="${atencion}"><br><br>

            <button type="submit" class="boton tres"><span>Guardar</span></button>

            <button type="reset" class="boton cuatro"><span>Limpiar</span></button>

        </form>

    </section>


</body>

</html>