<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Amrap</title>
    <link rel="stylesheet" href="CSS/Style_ejercicios.css">
    <link rel="stylesheet" href="CSS/fonts.css">

</head>

<body>
    <h1 class="titulo">Editar Nombres de Ejercicios</h1>


    <!-- menu desplegable comienzo  -->
    <header>
        <nav>
            <ul>
                <li> <a href="inicio"><span class="primero"><i class="icon icon-home "></i></span> Inicio</a> </li>
                <li> <a href="rutinas"><span class="cuarto"><i class="icon icon-books"></i></span>Rutinas</a></li>
                <li> <a href="buscar-ejercicio"><span class="segundo"><i class="icon icon-book"></i></span>
                        Ejercicios</a></li>
                <li> <a href="buscar-ejercicioNombre"><span class="quinto"><i class="icon icon-books"></i></span>Nombres de ejercicios</a></li>
                <li> <a href="buscar-categoria"><span class="tercero"><i class="icon icon-books"></i></span>Categorias</a></li>
                <li> <a href="logout">Salir</a></li>
            </ul>
        </nav>
    </header>
    <!-- menu desplegable fin  -->

    <section Class=principal>

        <form class="formulario" action="actualizar-ejercicioNombre" method="POST">

            <p th:if="${error != null}" th:text=${error} class=error></p>

            <p th:if="${exito != null}" th:text=${exito} class=exito></p>

            <input type="hidden" name="id" th:value="${ejercicioNombre.id}">

            <label>Nombre:</label><br>
            <input type="text" name="nombre" th:value="${ejercicioNombre.nombre}"><br><br>

            <label>video:</label><br>
            <input type="text" name="video" th:value="${ejercicioNombre.video}"><br><br>

            <label>Categoría:</label><br>
            <select class="alta" name="idCategoria">
                <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}">
                </option>
            </select><br><br>


            <button type="submit" class="boton tres"><span>Actualizar</span></button>


        </form>


        <!--   formulario para mostrar el objeto cambiado-->

        <section class="formulario2" action="/buscar-ejercicioNombre" method="GET">

            <label>NOMBRE DE EJERCICIO:</label><br><br>

            <p th:if="${error != null}" th:text=${error} class=error></p>
            <p th:if="${exito != null}" th:text=${exito} class=exito></p>

            <table>

                <thead>
                    <tr>
                        <th>
                            <p>Nombre</p>
                        </th>

                        <th>
                            <p>Categoria</p>
                        </th>

                        <th>
                            <p>video</p>
                        </th>
                        <th>
                            <p>Acciones</p>
                        </th>

                    </tr>
                </thead>

                <tr th:each=" ejercicioNombre : ${ejercicioNombre}">
                    <td th:text="${ejercicioNombre.nombre}"></td>
                    <td th:text="${ejercicioNombre.categoria.nombre}"></td>
                    <td th:text="${ejercicioNombre.video}"></td>
                    <td><button class="boton2 uno "><a th:href="${ejercicioNombre.video}" target="_blank"><span>Ver
                                    video</span></button></a></td>
                </tr>

            </table>

        </section>

    </section>

</body>

</html>