<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
xlmns="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: menu-head"></head>

<body>
    
    <h1 class="titulo">Editar Nombres de Ejercicios</h1>

    <nav class="sidebar close" th:fragment="layout/plantilla :: menu"></nav>

    <section class="home">
        <div class="text">&nbsp&nbspModificar Nombres de ejercicios</div>

        <section Class=principal>

            <form class="formulario" action="actualizar-ejercicioNombre" method="POST">
    
                <p th:if="${error != null}" th:text=${error} class=error></p>
    
                <p th:if="${exito != null}" th:text=${exito} class=exito></p>
    
                <input type="hidden" name="id" th:value="${ejercicioNombre.id}">
    
                <label>Nombre:</label><br>
                <input type="text" name="nombre" th:value="${ejercicioNombre.nombre}"><br><br>
    
                <label>video:</label><br>
                <input type="text" name="video" th:value="${ejercicioNombre.video}"><br><br>
    
                <label>Categoría:</label><br>
                <select class="alta" name="idCategoria">
                    <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}">
                    </option>
                </select><br><br>
    
    
                <button type="submit" class="boton tres"><span>Actualizar</span></button>
            </form>
    
            <section class="formulario2" action="/buscar-ejercicioNombre" method="GET">
    
                <label>NOMBRE DE EJERCICIO:</label><br><br>
    
                <p th:if="${error != null}" th:text=${error} class=error></p>
                <p th:if="${exito != null}" th:text=${exito} class=exito></p>
    
                <table>
    
                    <thead>
                        <tr>
                            <th>
                                <p>Nombre</p>
                            </th>
    
                            <th>
                                <p>Categoria</p>
                            </th>
    
                            <th>
                                <p>video</p>
                            </th>
                            <th>
                                <p>Acciones</p>
                            </th>
    
                        </tr>
                    </thead>
    
                    <tr th:each=" ejercicioNombre : ${ejercicioNombre}">
                        <td th:text="${ejercicioNombre.nombre}"></td>
                        <td th:text="${ejercicioNombre.categoria.nombre}"></td>
                        <td th:text="${ejercicioNombre.video}"></td>
                        <td><button class="boton2 uno "><a th:href="${ejercicioNombre.video}" target="_blank"><span>Ver
                                        video</span></button></a></td>
                    </tr>
    
                </table>
            </section>
        </section>
    </section>
    
    <script src="js/script.js"></script>

</body>

</html>