<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Amrap</title>
    <link rel="stylesheet" href="CSS/Style_ejercicios.css">
    <link rel="stylesheet" href="CSS/fonts.css">

</head>

<body>

    <h1 class="titulo">Cargar Nombres de ejercicios</h1>


    <!-- menu desplegable comienzo  -->
    <header th:replace="/inicio.html::header"></header>
    <!-- menu desplegable fin  -->


    <section Class=principal>

        <form class="formulario" action="/cargar-ejercicioNombre" method="POST">

            <p th:if="${error != null}" th:text=${error} class=error></p>

            <p th:if="${exito != null}" th:text=${exito} class=exito></p>

            <label >Nombre:</label><br>
            <input type="text" name="nombre" th:value="${nombre}"><br><br>
     
            <label>video:</label><br>
            <input type="text" name="video" th:value="${video}"><br><br>

            <label>Categoría:</label><br>
            <select class="alta" name="idCategoria" >
                <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
            </select><br><br>
        
            <button type="submit" class="boton tres"><span>Guardar</span></button>

            <button type="reset" class="boton cuatro"><span>Limpiar</span></button>

        </form>

    </section>


</body>

</html>