<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Amrap</title>
    <link rel="stylesheet" href="css/Style_ejercicios.css">
    <link rel="stylesheet" href="css/fonts.css">
</head>

<body>

    <h1 class="titulo">Categorias</h1>


 <!-- menu desplegable comienzo  -->
 <header th:replace="/inicio.html::header"></header>
 <!-- menu desplegable fin  -->

    <!--  botones inicio -->
    ><div class="contenedor">
        <div class="contenedor-botones">

            <a th:href="@{/buscar-ejercicioNombre}" id="a"><button class="boton tres"><span>Nombres de ejercicios</span></button></a>
            <a th:href="@{/buscar-categoria}"><button class="boton cuatro"><span>CategoríaS </span></button></a>
            <a th:href="@{/listar-usuarios}"><button class="boton dos"><span>Listar usuarios </span></button></a>

        </div>
    </div>
    <!--  botones fin -->

</body>

</html>