<!DOCTYPE html>
<html>

<head th:replace="layout/plantilla :: menu-head"></head>

<body>
    <!-- menu desplegable -->
    <nav th:replace="layout/plantilla :: menu" class="sidebar close"></nav>

    <section class="home">
        <div class="text">&nbsp&nbspConfiguración</div>

        <div class="principal">
            <div class="formulario">

                <a th:href="@{/buscar-ejercicioNombre}" id="a"><button class="boton tres"><span>Nombres de
                            Ejercicios</span></button></a>
                <a th:href="@{/buscar-categoria}" id="a"><button class="boton tres"><span>Categorías</span></button></a>

                <a th:href="@{/listar-usuarios}" id="a"><button class="boton cuatro"><span>
                            Usuarios</span></button></a><br><br>
            </div>
        </div>
        </div>

    </section>

    <script src="js/script.js"></script>
</body>

</html>