<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Amrap</title>
    <link rel="stylesheet" href="CSS/Style_ejercicios.css">
    <link rel="stylesheet" href="CSS/fonts.css">

</head>

<body>

    <h1 class="titulo">Cargar Ejercicios</h1>


    <!-- menu desplegable comienzo  -->
    <header>
        <nav>
            <ul>
                <li> <a href="inicio"><span class="primero"><i class="icon icon-home "></i></span> Inicio</a> </li>
                <li> <a href="ejercicios"><span class="segundo"><i class="icon icon-book"></i></span> Ejercicios</a> </li>
                <li> <a href="rutinas"><span class="cuarto"><i class="icon icon-books"></i></span>Rutinas</a></li>
                </li>
            </ul>
        </nav>
    </header>
    <!-- menu desplegable fin  -->


    <section Class=principal>

        <form class="formulario" action="/cargar-ejercicio" method="POST">

            <p th:if="${error != null}" th:text=${error} class=error></p>

            <p th:if="${exito != null}" th:text=${exito} class=exito></p>

            <label>Nombre:</label><br>
            <input type="text" name="nombre" th:value="${nombre}"><br><br>

            <label>Categoría:</label><br>
            <input type="text" name="categoria" th:value="${categoria}"><br><br>

            <label>Link video:</label><br>
            <input type="text" name="video" th:value="${video}"><br><br>

            <label>Series:</label><br>
            <input type="number" name="series" th:value="${series}"><br><br>

            <label>Repeticiones:</label><br>
            <input type="number" name="repeticiones" th:value="${repeticiones}"><br><br>
            
            <label>Pausa:</label><br>
            <input type="number" name="pausa" th:value="${pausa}"><br><br>

            <label>Dificultad:</label><br>
            <input type="number" name="dificultad" th:value="${dificultad}"><br><br>

            <label>Kilogramos:</label><br>
            <input type="text" name="kilogramos" th:value="${kilogramos}"><br><br>

            <label>Notas:</label><br>
            <input type="text" name="notas" th:value="${notas}"><br><br>

            <label>Atencion:</label><br>
            <input type="text" name="atencion" th:value="${atencion}"><br><br>

            <button type="submit" class="boton tres"><span>Guardar</span></button>

            <button type="reset" class="boton cuatro"><span>Limpiar</span></button>

        </form>

    </section>


</body>

</html>