<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
  xlmns="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="layout/plantilla :: menu-head"></head>

<body>
     <section class="home"></section>
    
    <div style="background-color: burlywood; text-align: center;">

        <h1>Error</h1>
        <div>
            <h2 th:text="${mensajeError}"></h2>
  
        </div>
        <div>
            <h2 th:text="${codigoError}"></h2>
 
        </div>
    </div>
    
<script src="js/script.js"></script>
</body>

</html>