

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xlmns="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: landing-head">
  
</head>

<body>
  <!-- ====== Header Start ====== -->
  <header class="ud-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <img src="img/marca_negativo.png" alt="Logo"/>
            </a>
            <button class="navbar-toggler">
              <span class="toggler-icon"> </span>
              <span class="toggler-icon"> </span>
              <span class="toggler-icon"> </span>
            </button>

            <div class="navbar-collapse">
              <ul id="nav" class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="ud-menu-scroll" href="#home">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="ud-menu-scroll" href="#about">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="ud-menu-scroll" href="#testimonials">Testimonios</a>
                </li>
                <li class="nav-item">
                  <a class="ud-menu-scroll" href="#team">Galería</a>
                </li>
                <li class="nav-item">
                  <a class="ud-menu-scroll" href="#contact">Contacto</a>
                </li>
                <li class="nav-item">
                  <a th:href="login" class="ud-main-btn">Iniciar Sesión</a>
                </li>          
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    
  </header>
  <!-- ====== Header End ====== -->

  <!-- ====== Hero Start ====== -->
  <section class="ud-hero" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-hero-content wow fadeInUp mt-5" data-wow-delay=".2s">
            <h1 class="ud-hero-title">
              PRUEBA NUESTRAS RUTINAS PERSONALIZADAS
            </h1>
            <p class="ud-hero-desc">

            </p>
            <ul class="ud-hero-buttons">

              <li>
                <a href="registro" rel="nofollow noopener" target="_blank" class="btn-lg ud-main-btn">
                  REGISTRARSE
                </a>
              </li>
            </ul>
          </div>
          <div class="ud-hero-brands-wrapper wow fadeInUp" data-wow-delay=".3s">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Hero End ====== -->

  <!-- ====== Features Start ====== -->
  <section id="features" class="ud-features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-section-title">
            <h4>NUESTROS SERVICIOS</h4>
            <h3>METODOLOGÍA</h3>
            <!-- <p>...Chamuyo bien copado...
            </p> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
            <div class="ud-feature-icon">
              <i class="lni lni-gift"></i>
            </div>
            <div class="ud-feature-content">
              <h3 class="ud-feature-title">CLASE DE PRUEBA</h3>
              <p class="ud-feature-desc">
                una sola clase culiau
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
            <div class="ud-feature-icon">
              <i class="lni lni-dumbbell"></i>
            </div>
            <div class="ud-feature-content">
              <h3 class="ud-feature-title">RUTINA PERSONALIZADA</h3>
              <p class="ud-feature-desc">
                chamuyo
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
            <div class="ud-feature-icon">
              <i class="lni lni-heart-filled"></i>
            </div>
            <div class="ud-feature-content">
              <h3 class="ud-feature-title">NUTRICIÓN A MEDIDA</h3>
              <p class="ud-feature-desc">
                Lorem Ipsum is simply dummy text of the printing and industry.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
            <div class="ud-feature-icon">
              <i class="lni lni-heart-monitor"></i>
            </div>
            <div class="ud-feature-content">
              <h3 class="ud-feature-title">ENTRENAMIENTO DE ALTO RENDIMIENTO</h3>
              <p class="ud-feature-desc">
                Lorem Ipsum is simply dummy text of the printing and industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-5">
      <a href="registro" class="btn-lg ud-main-btn">Más info</a>
    </div>

  </section>
  <!-- ====== Features End ====== -->

  <!-- ====== About Start ====== -->
  <section id="about" class="ud-about">
    <div class="container">
      <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
        <div class="ud-about-content-wrapper">
          <div class="ud-about-content">
            <!-- <span class="tag">NOSOTROS</span> -->
            <h2>NUESTRA MISIÓN</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat accusantium corrupti aliquid omnis
              officiis perspiciatis, quisquam voluptas consequuntur quas iure tempore laboriosam, illum eum fugiat.
              Explicabo omnis esse nulla natus!
            </p>

            <p>
              The main ‘thrust’ is to focus on educating attendees on how to
              best protect highly vulnerable business applications with
              interactive panel.
            </p>
            <a href="registro" class="ud-main-btn mt-5">Registrarse</a>
          </div>
        </div>
        <div class="ud-about-image mt-5 mb-5">
          <img src="img/about/nosotros3.png" alt="about-image" />
        </div>
      </div>
    </div>
  </section>
  <!-- ====== About End ====== -->

  <!-- ====== Pricing Start ====== -->
  <section id="pricing" class="ud-pricing">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-section-title mx-auto text-center">
            <h3>NUESTROS PLANES</h3>
            <p>
              <!--  There are many variations of passages of Lorem Ipsum available
              but the majority have suffered alteration in some form. -->
            </p>
          </div>
        </div>
      </div>

      <div class="row g-3 align-items-center justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-10">
          <div class="ud-single-pricing first-item wow fadeInUp" data-wow-delay=".15s">
            <div class="ud-pricing-header">
              <h3>1 mes</h3>
              <h4>$ 700</h4>
            </div>
            <div class="ud-pricing-body">
              <ul>
                <li>Entrenador personal</li>
                <li>Clases Personalizadas</li>
                <li>Gimnasio , Aire libre, Domicilio</li>
                <li>Adaptado a tus necesidades</li>
                <li>Elegis tus días y horarios</li>
              </ul>
            </div>
            <div class="ud-pricing-footer">
              <a href="/registro.html" class="ud-main-btn ud-border-btn">
                Empieza ahora
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
          <div class="ud-single-pricing active wow fadeInUp" data-wow-delay=".1s">
            <span class="ud-popular-tag">POPULAR</span>
            <div class="ud-pricing-header">
              <h3>3 meses</h3>
              <h4>$ 1500</h4>
            </div>
            <div class="ud-pricing-body">
              <ul>
                <li>Entrenador personal</li>
                <li>Clases Personalizadas</li>
                <li>Gimnasio , Aire libre, Domicilio</li>
                <li>Adaptado a tus necesidades</li>
                <li>Elegis tus días y horarios</li>
              </ul>
            </div>
            <div class="ud-pricing-footer">
              <a href="registro" class="ud-main-btn ud-white-btn">
                Empieza ahora
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
          <div class="ud-single-pricing last-item wow fadeInUp" data-wow-delay=".15s">
            <div class="ud-pricing-header">
              <h3>5 meses</h3>
              <h4>$ 3000</h4>
            </div>
            <div class="ud-pricing-body">
              <ul>
                <li>Entrenador personal</li>
                <li>Clases Personalizadas</li>
                <li>Gimnasio , Aire libre, Domicilio</li>
                <li>Adaptado a tus necesidades</li>
                <li>Elegis tus días y horarios</li>
              </ul>
            </div>
            <div class="ud-pricing-footer">
              <a href="registro" class="ud-main-btn ud-border-btn">
                Empieza ahora
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Pricing End ====== -->

  <!-- ====== FAQ Start ====== -->
  <section id="faq" class="ud-faq">
    <div class="shape">

    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-section-title text-center mx-auto">
            <span class="text-white">PREGUNTAS FRECUENTES</span>
            <br>
            <br>            
            <h3 class="text-black">ALGUNAS DE LAS PREGUNTAS QUE NOS SUELEN HACER</h3>
            <p>
              <!-- There are many variations of passages of Lorem Ipsum available
              but the majority have suffered alteration in some form. -->
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
            <div class="accordion">
              <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>¿Porque necesito un personal trainer?</span>
              </button>
              <div id="collapseOne" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
            <div class="accordion">
              <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>¿Que tipo de entrenamiento me conviene?</span>
              </button>
              <div id="collapseTwo" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
            <div class="accordion">
              <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>¿Cuanto tiempo debo dedicarle?</span>
              </button>
              <div id="collapseThree" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
            <div class="accordion">
              <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>¿Cual es su estilo de entrenamiento?</span>
              </button>
              <div id="collapseFour" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
            <div class="accordion">
              <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>¿Como controlas mi progreso?</span>
              </button>
              <div id="collapseFive" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
            <div class="accordion">
              <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>¿Ofrecen asistencia alimentaria?</span>
              </button>
              <div id="collapseSix" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== FAQ End ====== -->

  <!-- ====== Testimonials Start ====== -->
  <section id="testimonials" class="ud-testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-section-title mx-auto text-center">
            <h4>TESTIMONIOS</h4>           
            <h3 class="text-borde">HACEMOS LO MEJOR PARA NUESTROS CLIENTES</h3>            
            <p>
              <!-- There are many variations of passages of Lorem Ipsum available
              but the majority have suffered alteration in some form. -->
            </p>            
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="ud-single-testimonial wow fadeInUp" data-wow-delay=".1s">
            <div class="ud-testimonial-ratings">
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
            </div>
            <div class="ud-testimonial-content">
              <p>
                “Me gusta el entrenamiento que me propusieron porque se ajustó a mis posibilidades y tiempos de
                entreno”.
              </p>
            </div>
            <div class="ud-testimonial-info">
              <div class="ud-testimonial-image">
                <img src="img/testimonials/Sin título-1.png" alt="author" />
              </div>
              <div class="ud-testimonial-meta">
                <h4>Ibrahim Abraham </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="ud-single-testimonial wow fadeInUp" data-wow-delay=".15s">
            <div class="ud-testimonial-ratings">
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
            </div>
            <div class="ud-testimonial-content">
              <p>
                “He probado varios tipos de entrenamiento y este es el que mejores resultados me dió.”
              </p>
            </div>
            <div class="ud-testimonial-info">
              <div class="ud-testimonial-image">
                <img src="img/testimonials/Sin título-3.png" alt="author" />
              </div>
              <div class="ud-testimonial-meta">
                <h4>Lucia Avila</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="ud-single-testimonial wow fadeInUp" data-wow-delay=".2s">
            <div class="ud-testimonial-ratings">
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
            </div>
            <div class="ud-testimonial-content">
              <p>
                “Soy padre de 3 hijos, y llevo tiempo buscando un metodo que se adapte y sea felixible con los horarios”
              </p>
            </div>
            <div class="ud-testimonial-info">
              <div class="ud-testimonial-image">
                <img src="img/testimonials/Sin título-2.png" alt="author" />
              </div>
              <div class="ud-testimonial-meta">
                <h4>Manuel Quinteros</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-brands wow fadeInUp" data-wow-delay=".2s">

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Testimonials End ====== -->

  <!-- ====== Team Start ====== -->
  <section id="team" class="ud-team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-section-title mx-auto text-center">
            <h4>GALERIA</h4>
            <h3>NUESTROS CLIENTES</h3>
            <!-- <p>
              There are many variations of passages of Lorem Ipsum available
              but the majority have suffered alteration in some form.
            </p> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div>
            <div>
              <img src="img/bg5.jpg" alt="" />
            </div>                   
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div>
            <div>
              <img src="img/bg2.jpg" alt="" />
            </div>                                    
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div>            
            <div>
              <img src="img/bg3.jpg" alt=""/>
            </div>             
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div>
            <div>
              <img src="img/bg4.webp" alt=""/>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Team End ====== -->

  <!-- ====== Contact Start ====== -->
  <section id="contact" class="ud-contact">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-8 col-lg-7">
          <div class="ud-contact-content-wrapper">
            <div class="ud-contact-title">
              <h3>CONTACTANOS</h3>              
            </div>
            <div class="ud-contact-info-wrapper">
              <div class="ud-single-info">
                <div class="ud-info-icon">
                  <i class="lni lni-map-marker"></i>
                </div>
                <div class="ud-info-meta">
                  <h5>Nuestra ubicacion</h5>
                  <p>Av. Colon 600, Córdoba, Argentina</p>
                </div>
              </div>
              <div class="ud-single-info">
                <div class="ud-info-icon">
                  <i class="lni lni-envelope"></i>
                </div>
                <div class="ud-info-meta">
                  <h5>¿En que podemos asesorarte?</h5>
                  <p>info@amrap.com</p>
                  <p>contacto@amrap.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="ud-contact-form-wrapper wow fadeInUp" data-wow-delay=".2s">
            <!-- <h3 class="ud-contact-form-title">ESCRIBINOS</h3> -->
            <form class="ud-contact-form" action="/contactar" method="POST">
              <div class="ud-form-group">                
                <input type="text" name="fullName" placeholder="   Nombre y Apellido"/>
              </div>
              <div class="ud-form-group">
                <input type="email" name="email" placeholder="   E-mail" />
              </div>
              <div class="ud-form-group">                
                <input type="text" name="phone" placeholder="   Teléfono" />
              </div>
              <div class="ud-form-group">                
                <textarea name="message" rows="1" placeholder="   Escribe tu mensaje aqui"></textarea>
              </div>
              <div class="ud-form-group mb-0">
                <button type="submit" class="ud-main-btn">
                  Enviar Mensaje
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Contact End ====== -->

  <!-- ====== Footer Start ====== -->
  <footer th:replace="layout/plantilla :: footer" class="ud-footer wow fadeInUp" data-wow-delay=".15s">
    
  </footer>
  <!-- ====== Footer End ====== -->

  <!-- ====== Back To Top Start ====== -->
  <a href="javascript:void(0)" class="back-to-top">
    <i class="lni lni-chevron-up"> </i>
  </a>
  <!-- ====== Back To Top End ====== -->

  <!-- ====== All Javascript Files ====== -->
  <script src="js/wow.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/menuScroll.js"></script>
</body>

</html>