<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Amrap</title>
    <link rel="stylesheet" href="CSS/Style_ejercicios.css">
    <link rel="stylesheet" href="CSS/fonts.css">
</head>

<body>


    <h1 class="titulo"><span class="letras-titulo">Amrap</span> </h1>


    <!-- menu desplegable comienzo  -->
    <header th:fragment="header">
        <nav>
            <ul>
                <li> <a href="inicio"><span class="primero"><i class="icon icon-home "></i></span> Inicio</a> </li>
                <li> <a th:href="@{/buscar-rutina}"><span class="cuarto"><i class="icon icon-books"></i></span>Rutinas</a></li>
                <li> <a href="configuracion"><span class="tercero"><i class="icon icon-books"></i></span>Configuracion</a></li>
                <li> <a th:href="@{/mostrar-perfil}+'?id='+${session.usuariosession.id}"><span class="segundo"><i class="icon icon-books"></i></span><p th:text="${session.usuariosession.nombre}+' '+${session.usuariosession.apellido}"></p></a></li>
                <li> <a href="logout">Salir</a></li>           



            </ul>
        </nav>
    
    </header>
    <!-- menu desplegable fin  -->

</body>

</html>