
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xlmns="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="layout/plantilla :: head">
  </head>


  <body>

    <!-- ====== Header Start ====== -->
    <header th:replace="layout/plantilla :: header"></header>
    <!-- ====== Header End ====== -->

    <!-- ====== Banner Start ====== -->
    <section class="ud-page-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-banner-content">
              <h1></h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Banner End ====== -->

    <!-- ====== Login Start ====== -->
    <section th:replace="layout/plantilla :: login"></section>
    <!-- ====== Login End ====== -->

    <!-- ====== Footer Start ====== -->
    <footer th:replace="layout/plantilla :: footer"></footer>
    <!-- ====== Footer End ====== -->

    <!-- ====== Back To Top Start ====== -->
    <a href="javascript:void(0)" class="back-to-top">
      <i class="lni lni-chevron-up"> </i>
    </a>
    <!-- ====== Back To Top End ====== -->

    <!-- ====== All Javascript Files ====== -->
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
