<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xlmns="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: menu-head"></head>

<body>

    <nav class="sidebar close" th:replace="layout/plantilla :: menu"></nav>

    <section class="home">
        <div class="text">Perfil</div>

        <section Class=principal>
            <div class="formulario">

                <a id="a" th:href="@{/editar-perfil}+'?id='+${session.usuariosession.id}"><button
                        class="boton tres"><span>Editar perfil</span></button></a>

                <a th:href="@{/mostrar-perfil (id=${session.usuariosession.id},format=pdf)}" target="_blank" rel="noopener noreferrer">
                    <img src="img/descargar _pdf.png" class="borde">
                </a>
          
            </div>

              
            </div>
            <!--   ************** formulario resultados -->
            <section class="formulario2" action="/mostrar-perfil" method="GET">

                <label
                    th:text="${session.usuariosession.nombre} +' '+ ${session.usuariosession.apellido}"></label><br><br>

                <table>
                    <tr>
                        <th>
                            <img class="foto" th:if="${session.usuariosession.foto !=null}"
                                th:src="${'/foto/usuario/' + session.usuariosession.id}">
                        </th>
                    </tr>
                </table><br>

                <p th:if="${error != null}" th:text=${error} class=error></p>
                <p th:if="${exito != null}" th:text=${exito} class=exito></p>
                <p th:if="${eliminado != null}" th:text=${exito} class=exito></p>

                <table>
                    <thead>
                        <tr>
                            <th>
                                <p>Nombre</p>
                            </th>

                            <th>Apellido
                                <p></p>
                            </th>
                            <th>
                                <p>E-mail</p>
                            </th>
                            <th>
                                <p>Rol</p>
                            </th>
                            <th>
                                <p>Alta</p>
                            </th>
                            <th>
                                <p>Baja</p>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td th:text="${session.usuariosession.nombre}"></td>
                        <td th:text="${session.usuariosession.apellido}"></td>
                        <td th:text="${session.usuariosession.email}"></td>
                        <td th:text="${session.usuariosession.rol}"></td>
                        <td th:text="${session.usuariosession.alta}"></td>
                        <td th:text="${session.usuariosession.baja}"></td>
                    </tr>
                </table>
            </section>
        </section>
    </section>

    <script src="js/script.js"></script>
</body>

</html>