<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xlmns="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <title>Amrap</title>
    <link rel="stylesheet" href="CSS/Style_ejercicios.css">
    <link rel="stylesheet" href="CSS/fonts.css">
</head>

<body>


    <h1 class="titulo"><span class="letras-titulo">Amrap</span> </h1>


    <!-- menu desplegable comienzo  -->
    <header th:replace="/inicio.html::header"></header>
    <!-- menu desplegable fin  -->

    <section Class=principal>

        <div class=formulario>

            <h1>Editar Perfil</h1><br>


            <form action="/actualizar-perfil" method="POST" enctype="multipart/form-data">



                <p th:if="${error != null}" th:text=${error} class=error></p>

                <p th:if="${exito != null}" th:text=${exito} class=exito></p>

                <!-- <input type="text" name="id" th:value="${session.usuariosession.id}" /> -->
                <input type="hidden" name="id" th:value="${perfil.id}" />

                <p><label> Nombre </label></p>
                <input type="text" name="nombre" th:value="${perfil.nombre}" /><br><br>

                <p><label> Apellido </label></p>
                <input type="text" name="apellido" th:value="${perfil.apellido}" /><br><br>

                <p><label> DNI </label></p>
                <input type="text" name="dni" th:value="${perfil.dni}" /><br><br>

                <p><label> E-mail </label></p>
                <input type="email" name="email" th:value="${perfil.email}" /><br><br>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <label>Rol:</label><br>
                    <span th:text="${perfil.rol}" class="exito"></span><br>
                    <select class="alta" name="rol">
                        <option th:each="roles : ${roles}" th:text="${roles}"></option>
                    </select><br><br>
                </div>

                <p><label> Foto </label></p>
                <input type="file" name="archivo" /><br><br>


                <button type="submit" class="boton tres"><span>Guardar cambios</span></button>

            </form>


            <div>
                <a th:href="@{/modificar-clave}+'?id='+${session.usuariosession.id}" id="a"><button
                        class="boton tres"><span>Cambiar clave</span></button></a>
            </div>

            <div th:if="${session.usuariosession.baja == null}">
                <a th:href="@{/deshabilitar-usuario}+'?id='+${session.usuariosession.id}" id="a"><button
                        class="boton tres"><span>Inhabilitar Usuario</span></button></a>
            </div>

            <div th:if="${session.usuariosession.baja != null}">
                <a th:href="@{/habilitar-usuario}+'?id='+${session.usuariosession.id}" id="a"><button
                        class="boton tres"><span>Habilitar Usuario</span></button></a>
            </div>

        </div>

        <section class="formulario2" action="/mostrar-perfil" method="GET">

            <label th:text="${session.usuariosession.nombre} +' '+ ${session.usuariosession.apellido}"></label><br><br>

           
       
            <p th:if="${error != null}" th:text=${error} class=error></p>
            <p th:if="${exito != null}" th:text=${exito} class=exito></p>
            <p th:if="${eliminado != null}" th:text=${exito} class=exito></p>

            <table>

                <thead>
                    <tr>
                        <th>
                            <p>Nombre</p>
                        </th>

                        <th>Apellido
                            <p></p>
                        </th>
                        <th>
                            <p>E-mail</p>
                        </th>
                        <th>
                            <p>DNI</p>
                        </th>
                         <th>
                            <p>Rol</p>
                        </th>
                          <th>
                            <p>Alta</p>
                        </th>
                        <th>
                            <p>Baja</p>
                        </th>

                    </tr>
                </thead>

                <tr >
                    <td th:text="${session.usuariosession.nombre}"></td>
                    <td th:text="${session.usuariosession.apellido}"></td>
                    <td th:text="${session.usuariosession.email}"></td>
                    <td th:text="${session.usuariosession.dni}"></td>
                    <td th:text="${session.usuariosession.rol}"></td>
                    <td th:text="${session.usuariosession.alta}"></td>
                    <td th:text="${session.usuariosession.baja}"></td>
                    <img class="foto" th:if="${session.usuariosession.foto !=null}" th:src="${'/foto/usuario/' + session.usuariosession.id}">
                    
                </tr>
                
            </table>
            
        </section>


    </section>


</body>

</html>