<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xlmns="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: head">
</head>

<body>
    <!-- ====== Header Start ====== -->
    <header th:replace="layout/plantilla :: header" class="ud-header">
        
    </header>
    <!-- ====== Header End ====== -->

    <!-- ====== Banner Start ====== -->
    <section class="ud-page-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ud-banner-content">
                        <h1> REGISTRO AMRAP </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== Banner End ====== -->

    <!-- ====== Register Start ====== -->
    <section class="ud-login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ud-login-wrapper">
                        <div class="ud-login-logo">
                            <img src="img/logo/amrap1.png" alt="logo" />
                        </div>
                        <form class="ud-login-form" action="/registrar" method="POST" enctype="multipart/form-data">
                            <h3> Registrarse </h3>
                            <div class="ud-form-group">

                                <br>
                                <input type="text" 
                                name="nombre" 
                                th:value="${nombre}" 
                                placeholder="Nombre"><br><br>

                                <br>
                                <input type="text" 
                                name="apellido" 
                                th:value="${apellido}"
                                placeholder="Apellido"><br><br>

                                <br>
                                <input type="text" 
                                name="email" 
                                th:value="${email}" 
                                placeholder="Email"><br><br>

                                <label>Debe tener al menos 8 caracteres</label><br>
                                <input type="password" 
                                name="clave1" 
                                placeholder="Password"
                                th:value="${clave1}" /><br><br>

                                <br>
                                <input type="password" 
                                name="clave2" 
                                placeholder="Repetir Password"
                                th:value="${clave2}" />
                                <br> <br>
<!--                                 Descomentar para el primer registro-->
<!--                                    <p><label> Foto </label></p>
                                    <input type="file" name="archivo" />-->
                                <br>

                                <button class="ud-main-btn w-100">Enviar</button>

                                <p th:if="${error != null}" th:text=${error} class=error></p>
                                <p th:if="${exito != null}" th:text=${exito} class=exito></p>
                            </div>
                            <br>

                        </form>

                        <div class="ud-socials-connect">
                            <p>Conectarse con</p>

                            <ul>
                                <li>
                                    <a href="#" class="facebook">
                                        <i class="lni lni-facebook-filled"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <i class="lni lni-twitter-filled"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="google">
                                        <i class="lni lni-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a class="forget-pass" href="javascript:void(0)">
                            Olvidaste la contraseña?
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== Register End ====== -->

    <!-- ====== Footer Start ====== -->
    <footer th:replace="layout/plantilla :: footer"class="ud-footer wow fadeInUp" data-wow-delay=".15s">    
    </footer>
    <!-- ====== Footer End ====== -->

    <!-- ====== Back To Top Start ====== -->
    <a href="javascript:void(0)" class="back-to-top">
        <i class="lni lni-chevron-up"> </i>
    </a>
    <!-- ====== Back To Top End ====== -->

    <!-- ====== All Javascript Files ====== -->
    
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>