<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xlmns="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: menu-head"></head>

<body>

    <nav class="sidebar close" th:replace="layout/plantilla :: menu"></nav>

    <section class="home">
        <div class="text">&nbsp&nbspListar Usuarios</div>

        <section Class=principal>
            <div class="formulario">
                <div>
                    <a th:href="@{/listar-usuarios}"><button class="boton cuatro"><span>Listar
                                Usuarios</span></button></a><br><br>

                    <a th:href="@{/listar-usuarios/?format=pdf}" target="_blank" rel="noopener noreferrer">
                        <img src="img/descargar _pdf.png" class="borde">
                    </a><br><br>
                </div>


                <form action="/buscar-usuario" method="GET" class="borde">

                    <p th:if="${error != null}" th:text=${error} class=error></p>
                    <p th:if="${exito != null}" th:text=${exito} class=exito></p>

                    <label>Nombre:</label><br>

                    <input type="text" name="nombre"><br><br>

                    <button type="submit" class="boton tres"><span>Buscar</span></button>

                </form>
            </div>

            <section class="formulario2" action="/buscar-usuarios" method="GET">

                <label>Usuarios</label><br><br>

                <p th:if="${error != null}" th:text=${error} class=error></p>
                <p th:if="${exito != null}" th:text=${exito} class=exito></p>

                <table>
                    <thead>
                        <tr>
                            <th>
                                <p>Nombre</p>
                            </th>

                            <th>
                                <p>Apellido</p>
                            </th>

                            <th>
                                <p>E-mail</p>
                            </th>

                            <th>
                                <p>Rol</p>
                            </th>
                            <th>
                                <p>Alta</p>
                            </th>
                            <th>
                                <p>Baja</p>
                            </th>
                            <th>
                                <p>Foto</p>
                            </th>
                            <th>
                                <p>Acciones</p>
                            </th>
                        </tr>
                    </thead>

                    <tr th:each=" listaUsuarios : ${listaUsuarios}">
                        <td th:text="${listaUsuarios.nombre}"></td>
                        <td th:text="${listaUsuarios.apellido}"></td>
                        <td th:text="${listaUsuarios.email}"></td>
                        <td th:text="${listaUsuarios.rol}"></td>
                        <td th:text="${listaUsuarios.alta}"></td>
                        <td th:text="${listaUsuarios.baja}"></td>
                        <td> <img class="foto1" th:src="${'/foto/usuario/' +listaUsuarios.id}"> </td>
                        <td>
                            <a th:href="@{/seleccionar-perfil (id=${listaUsuarios.id})}"><button
                                    class="boton2 uno"><span>Elegir</span></button></a>

                        </td>
                    </tr>
                </table>
            </section>
        </section>
        <script src="js/script.js"></script>
</body>

</html>